xlm-roberta-large==4.13.0
jonatasgrosman/wav2vec2-large-xlsr-53-english
openai/clip-vit-large-patch14
microsoft/resnet-50
stabilityai/stable-diffusion-xl-base-1.0
stabilityai/stable-diffusion-xl-refiner-1.0
cl-tohoku/bert-base-japanese
openai/clip-vit-base-patch32
dslim/bert-base-NER
neuralmind/bert-base-portuguese-cased
